@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral+SC';

}

@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#logo {
    animation: rotateLogo 160s linear infinite; /* 5s para uma rotação completa */
}


body{

    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to top, #404368, #718ea7 ) ; */
    background-image: linear-gradient(to top, #1f212c, #597892 ) ;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

img{

    width: 30vw;
    flex-direction: row;
    display: flex;

}

.buttons{

    width: 50vw ;
    height: 5vw;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

a{

    color: #FFD700;
    margin-right:25px;
    font-size: 25pt;
    text-decoration: none;
    transition: color 1s ease;

}

#nacoes, #talentos, #relvas{

    color: #797561 ;

}

a:hover{

    color: #e9dfa9;

}

@media (max-width:550px){

    body{

        width: 100vw;
        height: 110vh;
        display: flex;
        flex-direction: column;


    }

    .buttons{

        height: 50vh;
        flex-direction: column;
        padding: 80px ;
        

    }

    .img{

        padding-top: 80px;

    }
    
    img{

        width: 70vw;

    }

}